#estudios{
    padding-top: 40px;
}

.containerEstudios{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#estudios h2{
    text-transform: uppercase;
    font-size: 20pt;
    margin: 20px 40px;
    line-height: 1;
    color: rgb(120, 35, 199);
}

.cardEstudios{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    align-items: center;
    border: solid 4px  rgb(120, 35, 199);    
    transition: all 0.5s;
    margin-bottom: 15px;
}

.cardEstudios:hover{
    transform: translate(20px, -3%);
}


.cardEstudios_img{
    width: 100%;
}


.cardEstudios_titulo{
    text-align: center;
    margin: 10px 0 0 0;
}

.cardEstudios_parrafo{
    margin: 0;
    padding: 10px;
    text-align: center;
}